body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge */
}

.header-area {
  background-color: #ce2829;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 10vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header-area img {
  margin-top: 20px;
}

form {
  width: calc(100% / 3);
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #fdc913;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e3ac0a;
}

button:not(:hover) {
  background-color: #fdc913;
}

textarea[name="isim"],
textarea[name="not"] {
  width: calc(100% / 3);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
