@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

.result-page {
  background-color: #ce2829;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.result-background {
  width: 30vw;
}

.result-content {
  width: 100%;
  text-align: center;
}

.result-logo {
  margin-top: 40px;
}

.result-message p:first-child {
  display: flex;
  font-size: 2vw;
  color: #fdc913;
  font-family: "Satisfy", cursive;
  font-weight: 100;
  justify-content: center;
  margin-bottom: 0;
}

.result-message p:nth-child(2) {
  display: flex;
  font-size: 3vw;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  justify-content: center;
  margin-top: 0;
}

.selectedForm {
  display: flex;
  flex-direction: column;
  color: white;
}

.selectedForm p {
  font-size: 1vw;
  font-family: "Barlow", sans-serif;
  display: flex;
  padding-left: 8vw;
  text-transform: capitalize;
}

.selectedForm span {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  padding-left: 1vw;
}

.selectedForm h1 {
  display: flex;
  justify-content: center;
}

.selectedForm p:last-child {
  display: flex;
  max-width: 16vw;
}

.price {
  margin-top: 2vh;
  border: 1px solid white;
  color: white;
  align-items: center;
  max-width: 15vw;
  margin-left: 7vw;
  font-size: larger;
  font-family: "Barlow", sans-serif;
  padding: 1vh;
}

.price h3 {
  display: flex;
  justify-content: center;
}

.selectionPrice {
  display: flex;
  justify-content: space-around;
  max-width: 15vw;
}
.totalPrice {
  display: flex;
  justify-content: space-around;
  max-width: 15vw;
}
