@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.hero {
  background-image: url("./Assets/mile1-assets/home-banner.png");
  background-color: #ce2829;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero img {
  margin-top: 11vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.hero p:first-child {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 8vh;
  margin: 0;
  text-align: center;
}

.hero p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 8vh;
  margin: 0;
  text-align: center;
}

.hero a {
  text-align: center;
  background-color: #fdc913;
  border-radius: 10vh;
  padding: 1vh;
  margin: 3vh 18vh 0 18vh;
  text-decoration: none;
  font-size: 1vw;
  color: black;
}

.navbar {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 10vh;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li a {
  padding-left: 1vw;
  text-decoration: none;
  align-items: center;
}

/*
.grid-container {
  background-color: #faf7f2;
  display: grid;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 5vw 10vw 10vw 10vw 10vw;
}

.item {
  border-radius: 5vh;
}

.item1 {
  background-image: url("./Assets/mile2-assets/cta/kart-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 2/8;
  grid-column: 2/6;
}

.item2 {
  background-image: url("./Assets/mile2-assets/cta/kart-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 2/5;
  grid-column: 7/11;
  border-radius: 5vh;
}

.item3 {
  background-image: url("./Assets/mile2-assets/cta/kart-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 5/8;
  grid-column: 7/11;
}

.item1-content p:first-child {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 8vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.item1-content p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 8vh;
  margin-left: 5vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.item1-content p:nth-child(3) {
  color: white;
  font-size: 2.5vh;
  margin-left: 5vh;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.item1-content a {
  text-decoration: none;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  padding: 2vh;
  color: #ce2829;
}

.item2-content p:first-child {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.item2-content p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

.item2-content a {
  text-decoration: none;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  padding: 2vh;
  color: #ce2829;
}

.item3-content p:first-child {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.item3-content p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

.item3-content a {
  text-decoration: none;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  padding: 2vh;
  color: #ce2829;
}
.item3-content span {
  color: #ce2829;
}
*/
.flex-container {
  background-color: #faf7f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.item1-content {
  background-image: url("./Assets/mile2-assets/cta/kart-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
  background-size: cover;
  min-height: 69vh;
  min-width: 70vh;
  border-radius: 2vw;
}

.container-right {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  min-width: 80vh;
  justify-content: space-between;
  margin-left: 5vh;
}

.item2-content {
  background-image: url("./Assets/mile2-assets/cta/kart-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
  background-size: cover;
  min-height: 32vh;
  min-width: 40vh;
  border-radius: 2vw;
}

.item3-content {
  background-image: url("./Assets/mile2-assets/cta/kart-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
  background-size: cover;
  min-height: 32vh;
  min-width: 40vh;
  border-radius: 2vw;
}
.item1-content p:first-child {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 8vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.item1-content p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 8vh;
  margin-left: 5vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.item1-content p:nth-child(3) {
  color: white;
  font-size: 2.5vh;
  margin-left: 5vh;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.item1-content a {
  text-decoration: none;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  padding: 2vh;
  color: #ce2829;
}

.item2-content p:first-child {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.item2-content p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 0vh;
}

.item2-content a {
  text-decoration: none;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  padding: 2vh;
  color: #ce2829;
}

.item3-content p:first-child {
  padding-top: 5vh;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.item3-content p:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 4vh;
  margin-left: 5vh;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

.item3-content a {
  text-decoration: none;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  padding: 2vh;
  color: #ce2829;
}
.item3-content span {
  color: #ce2829;
}
.bestsellers {
  background-color: #faf7f2;
}

.bestsellers h3 {
  font-family: "Satisfy", cursive;
  text-align: center;
  color: #ce2829;
  margin: 0;
}

.bestsellers h1 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: black;
}

.navbar2 {
  background-color: #faf7f2;
}
.navbar2 ul {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 0;
}

.navbar2 ul li a {
  text-decoration: none;
  color: black;
  padding-left: 1vw;
}

.navbar2 ul li {
  background-color: white;
  list-style-type: none;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.bestSellerContainer {
  justify-content: center;
  display: flex;
  height: 50vh;
  gap: 3vw;
  background-color: #faf7f2;
  margin-bottom: 5vh;
}

.bestItem1 {
  background-image: url("./Assets/mile2-assets/pictures/food-1.png");
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 4vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  min-height: 0vh;
  min-width: 18vw;
  background-position-x: center;
  background-position-y: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bestItem1 h3 {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2vw;
  color: black;
}

.itemRatings1 {
  display: flex;
  justify-content: space-around;
}

.itemRatings1 p:last-child {
  font-weight: bold;
}

.bestItem2 {
  background-image: url("./Assets/mile2-assets/pictures/food-2.png");
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 4vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  min-height: 0vh;
  min-width: 18vw;
  background-position-x: center;
  background-position-y: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bestItem2 h3 {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2vw;
  color: black;
}

.itemRatings2 {
  display: flex;
  justify-content: space-around;
}

.itemRatings2 p:last-child {
  font-weight: bold;
}

.bestItem3 {
  background-image: url("./Assets/mile2-assets/pictures/food-3.png");
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 4vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  min-height: 0vh;
  min-width: 18vw;
  background-position-x: center;
  background-position-y: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bestItem3 h3 {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2vw;
  color: black;
}

.itemRatings3 {
  display: flex;
  justify-content: space-around;
}

.itemRatings3 p:last-child {
  font-weight: bold;
}
